:root {
    --main-fg-color:  #792346;
    --secondary-fg-color: #3a8a0f;
    --main-bg-color: #f1eee5;
    --secondary-bg-color: #bd8232;

    --CLR-main: rgb(126, 166, 41);
    --CLR-accent: rgb(68, 110, 29);
    --CLR-trim: rgb(24, 39, 10);
    --CLR-chatwindow: rgb(226, 250, 175);
    --CLR-text: rgb(242, 242, 242);
    --CLR-icon: rgb(121, 35, 70);

    /*

    for pasting convenients

    var(--CLR-main)
    var(--CLR-accent)
    var(--CLR-trim)
    var(--CLR-chatwindow)
    var(--CLR-text)
    var(--CLR-icon)
    */

    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
}
